<footer class="w-full mt-20 h-12 flex justify-center items-center border-slate-300 bg-transparent">
    <p class="text-gray-900">PDFr - pdf manager</p>
</footer>




<script src="../js/active.js"></script>
<script src="../js/utils.js"></script>
</body>
</html>