<%-include("../templates/partials/head.ejs") %>

  <title>
    <%= title %>
  </title>

  </head>
  <style>
    body {
      background: url('/static/Images/img1.png') ;
      background-size: cover;
    }
  </style>
  <body>

    <!-- Navbar -->
    <%-include("../templates/partials/nav.ejs") %>

      <div class="container h-[80vh] w-screen m-0 flex justify-center items-center flex-col mx-auto">

        <div class="flex flex-col justify-center w-1/2 bg-sky-300 shadow-2xl rounded-lg p-4 py-8 ">
          <h1 class="text-center text-4xl py-4 mb-8">Convert Images to Pdf</h1>
          <form action="/image-pdf" method="POST" enctype="multipart/form-data"
            class="flex flex-col items-end w-4/5 mx-auto">
            <div class="mb-6 w-full ">
              <label class="block mb-3 text-md font-medium text-gray-900 dark:text-white" for="file_input">Upload
                Images</label>
              <input
                class="block w-full text-md text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 "
                id="file_input" type="file" name="photos" multiple accept=".jpeg , .png, .jpg" required />
            </div>
            <input type="submit"
              class="justify-self-end w-24 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 cursor-pointer">
          </form>
        </div>
      </div>

<%-include("../templates/partials/foot.ejs")%>