<%-include("../templates/partials/head.ejs") %>

  <title> <%= title %> </title>

  </head>
  <body>

    <!-- Navbar -->
    <%-include("../templates/partials/nav.ejs") %>

      <!-- Page starts here  -->
      <div class="container w-1/2 py-4 mt-4 mx-auto">
        <h1 class="mx-auto text-center text-4xl font-semibold">Welcome to PDFr</h1>
        <p class="mx-auto text-center text-md font-semibold mt-2">Manage your pdf's</p>
      </div>


      <section class="text-gray-600 body-font w-4/5 mx-auto ">
        <div class="container px-5 py-20 mx-auto">
          <div class="flex flex-wrap -m-4 justify-center items-center">
            <div class="p-4 lg:w-1/3 h-48 ">
              <div
                class="h-full bg-sky-300 hover:bg-sky-400  px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative cursor-pointer merge-pdf-cont">
                <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Merge pdfs</h1>
              </div>
            </div>
            <div class="p-4 lg:w-1/3 h-48 items-center">
              <div
                class="h-full bg-sky-300 hover:bg-sky-400  px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative cursor-pointer extract-pdf-cont">
                <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Extract pages from pdf</h1>
              </div>
            </div>
            <div class="p-4 lg:w-1/3 h-48 items-center">
              <div
                class="h-full bg-sky-300 hover:bg-sky-400  px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative cursor-pointer img-pdf-cont">
                <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Images to pdf</h1>
              </div>
            </div>
          </div>
        </div>
      </section>


<script src="../js/index.js"></script>
<%-include("../templates/partials/foot.ejs") %>